/* 
=================
Variables
=================
*/
:root {
  --transition: all 0.3s linear;
}

/* 
=================
Universal styles
=================
*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 
=================
Navbar
=================
*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-toggle {
  cursor: pointer;
  transition: var(--transition);
}

.links a{
  display: block;
  transition: var(--transition);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}