/* 
=================
Variables
=================
*/
:root {
  --primaryText: #2D314D;
    --linkHover: #30C88F;
    --footerLinkHover: #30C88F;
    --footerBackground: #2D314D;
    --headerBackground: #FFFFFF;
    --secondaryBackground: #F4F5F7;
    --lightBackground: #FAFAFA;
    --lightText: #FAFAFA;
    --secondaryText: #9597A5;
    --temp: #2D314D;
  --transition: all 0.3s linear;
}

/* 
=================
Media queries
=================
*/

/* tablet/desktop media query */
@media screen and (min-width: 768px) {
  .links-container {
    height: auto !important;
  }

  .nav-toggle {
    display: none;
  }
}

/* 
=================
Universal styles
=================
*/
*, *::before, *::after {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondaryText);
}

p {
  color: var(--secondaryText);
}

/* universal button styling */
/* button {
  color: var(--lightText);
  background-image: linear-gradient(to 
  bottom right, #33D35E, #2AB6D9);
  font-size: 0.75rem;
  border-style: none;
  font-weight: 700;
  border-radius: 1.5rem;
  width: 10rem;
  height: 2.75rem;

} */

/* 
=================
Navbar
=================
*/
nav {
  width: 100%;
  padding: 1rem;
  border: solid 1px black;

}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headerBackground);
  width: 100%;
  /* margin: 2rem; */

}

#nav-toggle {
  cursor: pointer;
  transition: var(--transition);
}

.links a{
  display: block;
  transition: var(--transition);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
