/* 
=================
Variables
=================
*/
:root {
  --transition: all 0.3s linear;
}

/* 
=================
Media queries
=================
*/

@media screen and (min-width: 768px) {
  .links-container {
    height: auto !important;
  }

  .nav-toggle {
    display: none;
  }
}

/* 
=================
Universal styles
=================
*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 
=================
Navbar
=================
*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-toggle {
  cursor: pointer;
  transition: var(--transition);
}

.links a{
  display: block;
  transition: var(--transition);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
